<h1>{{title}}</h1>

<form>
    <label>Base Currency</label>
    <select>
        <option>USD</option>
        <option>NGN</option>
    </select>
    <input name="" id=""/>
    <label>Target Currency</label>
    <select>
        <option>USD</option>
        <option>NGN</option>
    </select>
    <input name="" id=""/>
    <button>Convert</button>
    <div style=" display:flex">
        <div style="width:50%;">
            <h3 style="font-size: 30px; font-weight:300">0.9802</h3>
        </div>
        <div style="width:50%;">
            <h3 style="font-size: 30px; font-weight:300">1</h3>
        </div>
    </div>
    {{!-- <h3>1</h3> --}}
</form>
